
.home {
    padding: 6rem 0;
}

.home__items_wrapper {
    border: 3px solid black;
    border-radius: 15px;
    padding: 1rem 3rem;
    background: rgba(255, 255, 255);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-card);
}

.home__add_title {
    font-weight: 500;
    font-size: 3.2rem;
}
