
.home .input {
    border: 3px solid var(--color-blak);
    background: #fff;
    width: 0;
    box-shadow: inset var(--shadow-card);
    flex-grow: 1;
    font-size: var(--size-font-body);
}

.home .input:focus {
    box-shadow: inset var(--shadow-card), 0px 0px 0px 3px var(--color-primary);
}

.home .input::placeholder {
    color: var(--color-blak);
    opacity: 1;
}

.home__form_wrapper {
    display: flex;
    width: 100%;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 7rem;
}

